# Build output
build/
x64/

# Visual Studio artifacts
.vs/
*.user
*.suo
*.sdf
*.VC.db
*.VC.VC.opendb
*.opensdf
*.log
*.pdb
*.ilk

# ImGui runtime file
imgui.ini

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# macOS
.DS_Store

# JetBrains
.idea/
cmake-build-*/

# VSCode
.vscode/